<%= form_for @comment, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author_ip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author_ip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comment, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :post_rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :post_rating, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :post_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :post_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                comments_path, :class => 'btn' %>
  </div>
<% end %>
