<%= form_for @new_post, :html => { :class => 'form-horizontal' }, :remote => true do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :post_body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :post_body, :class => 'text_field', rows: 6 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :category_id, @categories_for_post_form %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
  </div>
<% end %>